[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqtt = "*"
aiohttp = "*"
tinydb = "*"
pyyaml = "*"
atomicwrites = "*"
yarl = "*"
multidict = "*"
aiohttp-jinja2 = "*"
jinja2 = "*"

[dev-packages]
black = "*"
coverage = "*"
pylint = "*"
pbr = "*"
pytest-aiohttp = "*"
pytest-cov = "*"
testfixtures = "*"
codecov = "*"
autoflake = "*"
pytest-env = "*"
pytest = "*"
pytest-asyncio = "*"

[pipenv]
allow_prereleases = true

[requires]
python_version = "3.12"
